body{
    color: bisque;
    background-color: black;
    border-radius: 10px 12px;
    display: flex;
    text-align: center;
      
}
.caja {
      background-color: lightblue;
      border: 3px solid yellow;
      box-shadow: 5px 5px 15px gray;
      padding: 20px 40px;
      font-family: Arial, sans-serif;
      font-size: 20px;
      font-weight: bold;
    }